

input{
    height: 40px;
    width: 90%;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px; 
    
    
}

button{
    margin-left: 30px;
    background-color: green !important;
}
.container11{
    border: 1px solid !important ;
    border-width: 5px;
    padding: 40px;
    
  
  box-shadow: 2px 2px 5px 2px #888888;
  border-radius: 15px ;
  /* background-color: aqua !important; */
  background-color: aqua;
  
}
